.section-skills{
    grid-column: 1 / -1;
    // background-image: linear-gradient(to right bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.7)), url(../Images/george-kedenburg-iii-OexDQ_KTuIY-unsplash.jpg);
    @include bg;
    background-color: var(--color-quinary-m);
    background-attachment: fixed;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    padding: 8rem 5rem;

    @media screen and (max-width: 768px){
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
    }

    @media screen and (max-width: 550px){
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,1fr);
    }

    

    &__icon-box{
        padding: 2rem 3rem;
        text-align: center;
        border-left: 1px solid var(--color-quinary);
        &:hover{
            background-color: var(--color-quinary-hover);
            opacity: var(--opacity);
            transition: all .5s ease-in-out;
        }
        &:nth-child(4),&:nth-child(5),&:nth-child(6){
            border-top: 1px solid var(--color-quinary);
        }
        &:nth-child(1),&:nth-child(4){
            border-left: none;
        }

        @media screen and (max-width: 768px){
            border: 1px solid var(--color-quinary);
            &:nth-of-type(odd){
                border-left: none;
            }
            &:nth-of-type(even){
                border-right: none;
            }
            &:nth-child(1),&:nth-child(2){
                border-top: none;
            }
            &:nth-child(5),&:nth-child(6){
                border-bottom: none;
            }
        }

        @media screen and (max-width: 550px){
            &:nth-of-type(odd),&:nth-of-type(even){
                border: 1px solid var(--color-quinary);
            }
        }
        
        i{
            color: var(--color-quinary-ts);
            font-size: calc(4rem + 1vw);
        }
        h4{
            font-size: calc(2.5rem + 1vw);
            margin: 1rem 0;
            color: var(--color-secondary);
        }
        p{
            font-size: calc(.5rem + 1vw);
            line-height: 1.5;
            letter-spacing: 1px;
            color: var(--color-secondary);
            opacity: 0.8;
        }

        &:hover > h4{
            color: var(--color-quinary-m);
        }
        &:hover > i{
            color: var(--color-quinary-icon-hover);
        }
        &:hover > p{
            color: var(--color-quinary-m);
        }


    }
}